body{
    background-color: rgba(255, 208, 0, 0.6);
    margin: 0 20%;
}

#title{
    text-align: center;
    text-shadow: 5px 5px 15px black;
    font-size: 3em;
}

img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 300px;
}

#img-caption{
    font-size: 11px;
    text-align: center;
}

div#tribute-info{
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 15px gray;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1.title{
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}